h1{ /* selector*/
    color: red;
    text-align: center;
}
p{
    color: black;
    font-size: 20px; /* pixel*/
    font-size: 'Times New Roman', Times, serif;
    font-weight: 400;  /* 400-normal, 700-bold*/
    line-height: 1.5;
    text-align: justify; /* left, right, center, justify*/
    text-decoration: none; /* underlline*/
    width: 600px;

}
span{
   text-decoration:  line-through;
   text-transform:  uppercase; /*uppercase, lowercase, capitalize */
   background-color: rgb(141, 53, 192);
   color: white;
}
